@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

body{
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 0 auto;
}
